h1.title, .title.h1 {
    font-size: 300%;
}
blockquote {
  color: black;
  border-left: 3px solid #FFCB05; 
  padding: 0.5em 10px;
}
.blockquote {
  font-size: 125%;
}
.sticky-col-stack {
    container-name: sticks;
    container-type: size;
}

.html-widget {
    width: 100cqw !important;
    height: 100cqh !important;
}